$project div.list { margin-left:25px; }
$project div.item span.exists { color:var(--notice-bg-color); padding:0 var(--input-padding); }
$content>div.item { box-shadow:var(--th-box-shadow); border:var(--plugin-border); border-radius:var(--plugin-radius); }
$content>div.item:hover { box-shadow:var(--notice-box-shadow); }
$content>div.item div.title div.label { font-size:var(--status-font-size); font-weight:normal; margin-top:var(--input-margin); }
$content>div.item div.title div.label span { padding:var(--input-padding); padding-right:var(--input-margin); }
$content>div.item div.content { height:70px; }
