body { --web-flows-done:lightgreen; --web-flows-fail:var(--danger-bg-color); }
$content svg line.fail { stroke:var(--web-flows-fail); }
$content svg line.done { stroke:var(--web-flows-done); }
$content svg line.select { stroke:var(--notice-bg-color); }
$content svg rect.fail { stroke:var(--web-flows-fail); }
$content svg rect.done { stroke:var(--web-flows-done); }
$content svg rect.select { stroke:var(--notice-bg-color); }
$content svg text { dominant-baseline:middle; }
$content svg text.fail { stroke:var(--web-flows-fail); fill:var(--web-flows-fail); }
$content svg text.done { stroke:var(--web-flows-done); fill:var(--web-flows-done); }
$content svg text.select { stroke:var(--notice-bg-color); fill:var(--notice-bg-color); }
$content fieldset.can._action { position:absolute; bottom:var(--action-height); }
$content fieldset.can._action>legend { display:none; }
$content fieldset.can._action>div.action { display:contents; }
$content fieldset.can._action>div.action br { clear:both; }
$content fieldset.can._action>div.action div.state { display:none; }
$content fieldset.can._action>div.status { display:none; }
