fieldset.web.code.git.search>div.output>div.item div.title div.label { font-size:var(--status-font-size); font-weight:normal; margin-top:var(--input-margin); }
fieldset.web.code.git.search>div.output>div.item div.title div.label span { padding:var(--input-padding); padding-right:var(--input-margin); }
fieldset.web.code.git.search>div.output>div.item div.content { height:70px; }
fieldset.web.code.git.search.zone>div.output>div.item { display:flex; padding:var(--input-padding); }
fieldset.web.code.git.search.zone>div.output>div.item>img { margin-right:var(--input-margin); }
fieldset.web.code.git.search.zone>div.output>div.item>span { line-height:var(--action-height); }
