fieldset.count div.output div.item {
    margin:10px; padding:10px;
    border:solid 2px green;
    float:left;
}
fieldset.count div.output div.item.gone {
    border:solid 2px red;
}
fieldset.count div.output div.item div.name {
    font-size:38px; color:green;
    font-family:cursive;
    text-align:center;
}
fieldset.count div.output div.item span.day {
    font-size:24px; color:green;
}
fieldset.count div.output div.item.gone div.name {
    color:red;
}
fieldset.count div.output div.item.gone span.day {
    color:red;
}
